@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  background-image: url("../Asset/background_forest.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}

#connexion
{
    width: 450px;
    height: 450px;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-image: url("../Asset/gate_2.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    font-family: 'MedievalSharp';
    color: #E6F7FF;
    font-size: 20px;
}
input {
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid #E6F7FF;
    font-family: 'MedievalSharp', cursive;
    font-size: 20px;
    text-align: center;
}

input:focus {
    box-shadow: 0 0 10px #00d4ff;
}
#title
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3%;
}
#character {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  align-items: flex-end;
}

#player {
    display: flex;
    justify-content: flex-start;
}

#wumpus {
    display: flex;
    justify-content: flex-end;
}
.imgchar{
    height: auto;
    width: 50%;
}
/*#arrow
{
    height: 50px;
    width: 50px;
    background-color: blue;
}*/
input
{
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background: rgba(230, 247, 255, 0.5);
    transition: all 0.3s ease;
}
#connexion_btn
{
    margin-top: 15px;
    font-family: 'MedievalSharp';
}

#sign_in
{
    margin: 15px;
    color: #E6F7FF;
}
/*--------------------------------------------*/
#flash-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.flash {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-family: 'MedievalSharp', cursive;
    text-align: center;
}

/* Style selon la catégorie (success ou error) */
.success {
    background-color: rgba(40, 167, 69, 0.8);
    color: white;
    border: 1px solid #1e7e34;
}

.error {
    background-color: black;
    color: white;
    border: 1px solid #00d4ff;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
td img {
    display: block;
}