<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styles.css') }}" />
    <title>{% block title %}{% endblock %} - Hunt the Wumpus</title>
</head>
<body>

<div id="title">
    <img src="{{ url_for('static', filename='Asset/titre-removebg-preview.png') }}"class="imgchar"/>
</div>

{% block content %}
{% endblock %}
<div id="character">
    <div id="player_fic">
        <img src="{{ url_for('static', filename='Asset/perso-removebg-preview.png') }}" class="imgchar"/>
    </div>
    <!--<div id="arrow">

    </div>-->
    <div id="wumpus_fic">
        <img src="{{ url_for('static', filename='Asset/wampus_2.png') }}" class="imgchar"/>
    </div>
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div id="flash-container">
          {% for category, message in messages %}
            <div class="flash {{ category }}">
                {{ message }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
</body>

</html>