{% extends "base.html" %}
{% block title %}Sign in{% endblock %}

{% block content %}
<div id="connexion">
    <form action="{{ url_for('login') }}" method="POST">
        <h1>Créer votre compte</h1>
            <div>Nom</div>
            <input name="pseudo" id="nom" type="text"/>
            <div>Mots de passe</div>
            <input type="password" id="password" name="password">
            <input type="submit" value="Création" id="connexion_btn">
    </form>
    <a href="{{ url_for('login') }}" id="sign_in">Connectez-vous</a>
</div>

<div id="character">
    <div id="player">
        <img src="{{ url_for('static', filename='Asset/perso-removebg-preview.png') }}" class="imgchar"/>
    </div>
    <!--<div id="arrow">

    </div>-->
    <div id="wumpus">
        <img src="{{ url_for('static', filename='Asset/wampus_2.png') }}" class="imgchar"/>
    </div>
</div>
{% endblock %}